.intro {
  color: green;
  font-family: fantasy;
  float: left;
  width: 25%;
  background-color: coral;
}
.flashy {
  color: red;
  font-style: italic;
}

.span {
  color: blue;
}

img {
  width: 400px;
  float: right;
}
